*.*~
*.bak
greybox_tmp/
__pycache__/
*.pyc
modelsim.ini
work/
lpm/
altera_mf/
syn/quartus/db/
syn/quartus/incremental_db/
syn/quartus/output_files/
syn/quartus/*.qws
syn/quartus/*.log
syn/quartus/**/*.log
lint/
